










.page-title-bg{
			background:#FFFFFF; 
		
				background-image:url('/Portals/_default/ContentBuilder/minis-page/contact-us05/contactus05-pagetitle.jpg'); 
                background-attachment: scroll;
        background-position: center center; 
        background-repeat: no-repeat;
        background-size: cover; 	
	}		








