/* custom */
 
.popup-form-main{
	position: fixed;
	top: 0;
	right: 0px;
	bottom: 0;
	left: 0;
	background: rgba( 0, 0, 0, 0.8 );
	display: none;
	overflow: hidden;
	overflow-y: auto;
	z-index: 100000;
}
.datepick-popup{
	z-index: 100005;
}
 

.popup-form-main > form{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100%;
}
 
.popup-form-main .modal-main{
	max-width: 100%;
	margin: auto;
	background-color: #FFF;
	padding: 0;
	position: relative;
	transform: translateX(0) translateY(-80px);
	opacity: 0;
	transition: transform 300ms ease-out 100ms,opacity 300ms ease-out 100ms;
	border-radius: 4px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.popup-form-main.active .modal-main{
	transform: translateX(0) translateY(0);
	opacity: 1;
	transition: transform 300ms ease-out 0ms,opacity 300ms ease-out 0ms;
}



.popup-form-main .form-close{
    position: absolute;
    right: 11px;
    top: 17px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.popup-form-main .form-close::before,
.popup-form-main .form-close::after{
    content: '';
    display: block;
    width: 16px;
    height: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: currentColor;
}
.popup-form-main .form-close::before{
	transform: translate3d(-50%,-50%,0) rotate(45deg);
}
.popup-form-main .form-close::after{
	transform: translate3d(-50%,-50%,0) rotate(135deg);
}



.popup-form-main .form{
	padding: 15px 20px;
}
.popup-form-main .title{
	padding:20px 20px;
	margin: 0 0 15px;
	font-size: 20px;
	border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
	line-height: 1.2;
	font-weight: bold;
}
.popup-form-main .title:empty{
	border-bottom: none;
	height: 25px;
	padding: 0;
}

.Theme_04_Default .decsription{
	padding: 10px 0 20px;
}

.popup-form-main .decsription{
	padding:5px 20px 0;
	margin: 0px;
}
.Theme_04_Default .from-footer{
	padding: 20px 0 10px;
}

.popup-form-main .from-footer{
	padding: 20px 20px;
	border-top: 1px solid #dee2e6;
}


.dg-form-content-box.form-line-load{
	opacity: 0;
}

@media only screen and (max-width:991px) {
	.dg-form-content-box{
		width: 100%!important;
	}
}


.Theme_04_Default .message{
	padding: 5px 15px;
	margin-top: 15px;
	z-index: 100;
	text-align: left;
    background-color: #efffe6;
    border-left: 5px solid #51bc1a;
	color: #000;
	display: none;
	position: absolute;
}
.Theme_04_Default .message.error{
    background-color: #f2dede;
    color: #b94a48!important;
    border-left: 5px solid #c73412;
}

.popup-form-main .message{
	position: static;
}


.Theme_04_Default.color-light .title,
.Theme_04_Default.color-light .decsription{
	color: #FFF;
}
.Theme_04_Default.color-light .title,
.Theme_04_Default.color-light .from-footer{
	border-color: rgba( 255, 255, 255, 0.2);
}

/*form content*/
.dg-form-content {
	list-style: none;
	margin: 0;
	padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
}
.dg-form-content > li{
	float: left;
}
.dg-form-content:after ,
.dg-form-content .form_input:after {
	clear:both;
	content:".";
	height:0px;
	font-size:0px;
	visibility:hidden;
	display:block;
}
.dg-form-content * {
-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		box-sizing: border-box;
}
.dg-form-content  *:before,
.dg-form-content  *:after {
-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		box-sizing: border-box;
}

.dg-form-content .form-control-wrap {
	display: block;
	
	list-style: none;
	position: relative;
}

.dg-form-content .wpcf7-submit {
	margin: 12px 0;
}

.dg-form-content .form-control-wrap input[type=text],
.dg-form-content .form-control-wrap input[type=email],
.dg-form-content .form-control-wrap input[type=url],
.dg-form-content .form-control-wrap input[type=tel],
.dg-form-content .form-control-wrap input[type=number],
.dg-form-content .form-control-wrap input[type=date],
.dg-form-content .form-control-wrap select,
.dg-form-content .form-control-wrap textarea {
	background: none;
	width: 100%;
	height: 50px;
	outline: none;
	border: 1px solid #d5d5d5;
	padding: 11px 8px;
	border-radius:0;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0;
	-webkit-appearance: none;
}
.dg-form-content .form-control-wrap select[multiple],
.dg-form-content .form-control-wrap select[size]{
	height: auto!important;
	padding: 5px 0;
}
.dg-form-content .form-control-wrap select[multiple] option,
.dg-form-content .form-control-wrap select[size] option{
	padding: 4px 8px;
}
.dg-form-content .form-control-wrap textarea {
	height: auto;
	overflow-x: hidden;
}

.dg-form-content label {
	color: #424242;
	font-size: 15px;
	font-weight: normal;
	margin: 0;
}
.dg-form-content label:not(.fixlabel){
	margin-top: -10px;
}

.dg-form-content input,
.dg-form-content textarea {
	vertical-align: middle;
}

.dg-form-content .form-control-wrap>input[type=checkbox] {
	margin-top: 12px;
}

.dg-form-content .first {
	margin: 0;
}

.dg-form-content .form-control-wrap input[type=file] {
	margin-top: 13px;
}

.dg-form-content.light .form-control-wrap select option {
	color: #666;
}

.dg-form-content .wpcf7-submit:disabled,
.dg-form-content .wpcf7-submit:disabled:hover {
	cursor: not-allowed;
}

.dg-form-content+div.wpcf7-response-output {
	padding-top: 0.7em;
	padding-bottom: 0.7em;
}

.dg-form-content.light+div.wpcf7-response-output {
	color: #FFF;
}

.dg-form-content.size-large .form-control-wrap input[type=text],
.dg-form-content.size-large .form-control-wrap input[type=email],
.dg-form-content.size-large .form-control-wrap input[type=url],
.dg-form-content.size-large .form-control-wrap input[type=tel],
.dg-form-content.size-large .form-control-wrap input[type=number],
.dg-form-content.size-large .form-control-wrap input[type=date],
.dg-form-content.size-large .form-control-wrap select {
	height: 60px;
	padding: 15px 15px;
}

.dg-form-content.size-large .wpcf7-checkbox,
.dg-form-content.size-large .wpcf7-radio {
	padding-top: 15px;
}

.dg-form-content.size-large .form-control-wrap>input[type=checkbox],
.dg-form-content.size-large .form-control-wrap input[type=file] {
	margin-top: 15px;
}

.dg-form-content.size-large .form-control-wrap {
	padding: 15px 0;
}

.dg-form-content.size-large .wpcf7-submit {
	margin: 15px 0;
}

.dg-form-content.size-small .form-control-wrap input[type=text],
.dg-form-content.size-small .form-control-wrap input[type=email],
.dg-form-content.size-small .form-control-wrap input[type=url],
.dg-form-content.size-small .form-control-wrap input[type=tel],
.dg-form-content.size-small .form-control-wrap input[type=number],
.dg-form-content.size-small .form-control-wrap input[type=date],
.dg-form-content.size-small .form-control-wrap select {
	height: 40px;
	padding: 7px 5px;
}

.dg-form-content.size-small .wpcf7-checkbox,
.dg-form-content.size-small .wpcf7-radio {
	padding-top: 6px;
}

.dg-form-content.size-small .form-control-wrap>input[type=checkbox],
.dg-form-content.size-small .form-control-wrap input[type=file] {
	margin-top: 10px;
}

.dg-form-content.size-small .form-control-wrap {
	padding: 6px 0;
}

.dg-form-content.size-small .wpcf7-submit {
	margin: 6px 0;
}

.dg-form-content.form-line .form-control-wrap {
	padding: 20px 0 0px;
}

.dg-form-content.form-line .form-control-wrap input[type=text],
.dg-form-content.form-line .form-control-wrap input[type=email],
.dg-form-content.form-line .form-control-wrap input[type=url],
.dg-form-content.form-line .form-control-wrap input[type=tel],
.dg-form-content.form-line .form-control-wrap input[type=number],
.dg-form-content.form-line .form-control-wrap input[type=date],
.dg-form-content.form-line .form-control-wrap select,
.dg-form-content.form-line .form-control-wrap textarea {
	border: none;
	border-bottom: 1px solid #c8c8c8;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	height: 40px;
}
.dg-form-content.form-line .form-control-wrap > .form_input{
	padding-top: 11px;
}


.dg-form-content.form-line .form-control-wrap > label {
	position: absolute;
}

.dg-form-content.form-line .text-center label {
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.dg-form-content.form-line .wpcf7-quiz-label {
	display: block;
	margin-top: 15px;
	margin-bottom: -8px;
}

.dg-form-content.form-line label.fixlabel {
	top: 32px;
	font-size: 15px;
	pointer-events: none;
	opacity: 1;
}

.dg-form-content.form-line label {
	top: 8px;
	font-size: 15px;
	-moz-transition: all ease-in 200ms;
	/* Firefox 4 */
	-webkit-transition: all ease-in 200ms;
	/* Safari and Chrome */
	-o-transition: all ease-in 200ms;
	/* Opera */
	-ms-transition: all ease-in 200ms;
	/* IE9? */
	transition: all ease-in 200ms;
}

.dg-form-content.form-line label.valid {
	top: 0px;
	font-size: 13px;
	color: #333333;
	-moz-transition: all ease-in 200ms;
	/* Firefox 4 */
	-webkit-transition: all ease-in 200ms;
	/* Safari and Chrome */
	-o-transition: all ease-in 200ms;
	/* Opera */
	-ms-transition: all ease-in 200ms;
	/* IE9? */
	transition: all ease-in 200ms;
}

/* .dg-form-content.form-line .form-control-wrap label {
	position: static;
} */

.dg-form-content.form-line .fixline:before {
	content: "";
	position: absolute;
	bottom: 0px;
	width: 0;
	border-bottom: 2px solid #b4b4b4;
	-moz-transition: width ease-in 200ms;
	/* Firefox 4 */
	-webkit-transition: width ease-in 200ms;
	/* Safari and Chrome */
	-o-transition: width ease-in 200ms;
	/* Opera */
	-ms-transition: width ease-in 200ms;
	/* IE9? */
	transition: width ease-in 200ms;

}

.dg-form-content.form-line .fixline.valid:before {
	width: 100%;
}

.dg-form-content.form-line .wpcf7-not-valid-tip {
	position: absolute
}


.dg-form-content.form-border {}

.dg-form-content.form-border > label {
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
}

.dg-form-content.form-background > label {
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
}

.dg-form-content.radius-3px .form-control-wrap input[type=text],
.dg-form-content.radius-3px .form-control-wrap input[type=email],
.dg-form-content.radius-3px .form-control-wrap input[type=url],
.dg-form-content.radius-3px .form-control-wrap input[type=tel],
.dg-form-content.radius-3px .form-control-wrap input[type=number],
.dg-form-content.radius-3px .form-control-wrap input[type=date],
.dg-form-content.radius-3px .form-control-wrap select,
.dg-form-content.radius-3px textarea,
.dg-form-content.radius-3px .wpcf7-form-control {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.dg-form-content.radius-6px .form-control-wrap input[type=text],
.dg-form-content.radius-6px .form-control-wrap input[type=email],
.dg-form-content.radius-6px .form-control-wrap input[type=url],
.dg-form-content.radius-6px .form-control-wrap input[type=tel],
.dg-form-content.radius-6px .form-control-wrap input[type=number],
.dg-form-content.radius-6px .form-control-wrap input[type=date],
.dg-form-content.radius-6px .form-control-wrap select,
.dg-form-content.radius-6px textarea,
.dg-form-content.radius-6px .wpcf7-form-control {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.dg-form-content.radius-10px .form-control-wrap input[type=text],
.dg-form-content.radius-10px .form-control-wrap input[type=email],
.dg-form-content.radius-10px .form-control-wrap input[type=url],
.dg-form-content.radius-10px .form-control-wrap input[type=tel],
.dg-form-content.radius-10px .form-control-wrap input[type=number],
.dg-form-content.radius-10px .form-control-wrap input[type=date],
.dg-form-content.radius-10px .form-control-wrap select,
.dg-form-content.radius-10px textarea,
.dg-form-content.radius-10px .wpcf7-form-control {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.dg-form-content.radius-3px .form-control-wrap input[type=text],
.dg-form-content.radius-3px .form-control-wrap input[type=email],
.dg-form-content.radius-3px .form-control-wrap input[type=url],
.dg-form-content.radius-3px .form-control-wrap input[type=tel],
.dg-form-content.radius-3px .form-control-wrap input[type=number],
.dg-form-content.radius-3px .form-control-wrap input[type=date],
.dg-form-content.radius-3px .form-control-wrap select,
.dg-form-content.radius-3px textarea {
	/* text-indent: 1em; */
	padding-left: calc(1em + 8px);
	padding-right: calc(1em + 8px);
}

.dg-form-content.radius-semi-circle .form-control-wrap input[type=text],
.dg-form-content.radius-semi-circle .form-control-wrap input[type=email],
.dg-form-content.radius-semi-circle .form-control-wrap input[type=url],
.dg-form-content.radius-semi-circle .form-control-wrap input[type=tel],
.dg-form-content.radius-semi-circle .form-control-wrap input[type=number],
.dg-form-content.radius-semi-circle .form-control-wrap input[type=date],
.dg-form-content.radius-semi-circle .form-control-wrap select,
.dg-form-content.radius-semi-circle textarea,
.dg-form-content.radius-semi-circle .wpcf7-form-control {
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.dg-form-content.radius-semi-circle .form-control-wrap input[type=text],
.dg-form-content.radius-semi-circle .form-control-wrap input[type=email],
.dg-form-content.radius-semi-circle .form-control-wrap input[type=url],
.dg-form-content.radius-semi-circle .form-control-wrap input[type=tel],
.dg-form-content.radius-semi-circle .form-control-wrap input[type=number],
.dg-form-content.radius-semi-circle .form-control-wrap input[type=date],
.dg-form-content.radius-semi-circle .form-control-wrap select,
.dg-form-content.radius-semi-circle textarea {
	/* text-indent: 1em; */
	padding-left: calc(1em + 8px);
	padding-right: calc(1em + 8px);
}

.dg-form-content .wpcf7-submit.size-lg {
	height: 50px;
}

.dg-form-content input[type=checkbox], 
.dg-form-content input[type=radio]{
 margin: 0 0 2px ;
}

.dg-form-home05.dg-form-content .form-control-wrap {
	display: block;
	padding: 0 0 20px 0;
}

.dg-form-menu-content {
	position: relative;
	border: 1px solid #bbbbbb;
	background: transparent;
	height: 35px;
	border-radius: 3px;
	padding: 0 115px 0 40px;
}

.dg-form-menu-content .lnr {
	display: block;
	background-color: #bbbbbb;
	text-align: center;
	line-height: 35px;
	width: 35px;
	color: #FFFF;
	position: absolute;
	left: -1px;
	top: -1px;
	border-radius: 3px 0 0 3px;
}

.dg-form-menu-content .wpcf7-text {
	border: none;
	background: transparent;
	line-height: 35px;
	height: 35px;
	width: 100%;
	outline: none;
}

.dg-form-menu-content .wpcf7-submit {
	background-color: #20a3f0;
	border: none;
	text-align: center;
	height: 35px;
	width: 110px;
	color: #FFFF;
	position: absolute;
	right: -1px;
	top: -1px;
	font-size: 13px;
	border-radius: 0 3px 3px 0;
}

.dg-form-content.light .form-control-wrap select[multiple="multiple"] option{
	color:inherit;
}

.form_submit.text-left {
	text-align: left !important;
}
.form_submit.text-center {
	text-align: center !important;
}
.form_submit.text-right {
	text-align: right !important;
}

.Theme_04_Default .form_submit .submit_image{
	border: none;
}
.Theme_04_Default .form_submit input{
	vertical-align: middle;
}
body .popup-form-btn,
.Theme_04_Default .form_submit .submit_but,
.Theme_04_Default .form_submit .reset_but{
	display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border:none;
    padding: 7px 12px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 4px;
	transition: filter 300ms ease-in;
	color: #fff;
	background-color: #007bff;
	backface-visibility: hidden;
	transform: translate3d(0,0,0);
}

body .popup-form-btn:hover,
.Theme_04_Default .form_submit .submit_but:hover,
.Theme_04_Default .form_submit .reset_but:hover{
	filter:brightness(110%);	
}

body .popup-form-btn.fixright{
	transform: rotate(90deg) translateX(100%);
	transform-origin: right top;
	border-radius:  0 0 3px 3px;
  }
  body .popup-form-btn.fixleft{
	transform: rotate(90deg) translateY(-100%);
	transform-origin: left top;
	border-radius:3px 3px 0 0 ;
  }

  .Theme_04_Default .form_submit .reset_but{
	  margin-right: 5px;
  }
  
  .Theme_04_Default .form_submit .reset_but{
	color: #fff;
    background-color: #6c757d;
  }
  

  .Theme_04_Default [title="RadioButtonList"] label,
  .Theme_04_Default [title="CheckBoxList"] label{
	margin-right: 8px;
  }

  .Theme_04_Default .from-footer{
	  margin: 0;
	  width: 100%;
  }


@media only screen and (max-width: 767px) {

	.Theme_04_Default .dg-form-content >li{
		display: block;
		float: none;
		width: 100%!important;
	}
}

 



.formError { z-index: 1100; }
.formError .formErrorContent { z-index: 1101; }
.formError .formErrorArrow { z-index: 1102; }

.ui-dialog .formError { z-index: 5000; }
.ui-dialog .formError .formErrorContent { z-index: 5001; }
.ui-dialog .formError .formErrorArrow { z-index: 5006; }

.inputContainer {
	position: relative;
	float: left;
}


.formError {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	cursor: pointer;
	text-align: left;
	white-space: nowrap;
}

.formError.inline {
	position: relative;
	top: 0;
	left: 0;
	display: inline-block;
}

.ajaxSubmit {
	padding: 20px;
	background: #55ea55;
	border: 1px solid #999;
	display: none;
}

.formError .formErrorContent {
	width: 100%;
	background: #ee0101;
	position:relative;
	color: #fff;
	min-width: 150px;
	font-size: 11px;
	border: 2px solid #ddd;
	box-shadow: 0 0 6px #000;
	-moz-box-shadow: 0 0 6px #000;
	-webkit-box-shadow: 0 0 6px #000;
	-o-box-shadow: 0 0 6px #000;
	padding: 4px 10px 4px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
}

.formError.inline .formErrorContent {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
}

.greenPopup .formErrorContent {
	background: #33be40;
}

.blackPopup .formErrorContent {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow {
	width: 15px;
	margin: -2px 0 0 13px;
	position:relative;
}
body[dir='rtl'] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow {
	margin: -2px 13px 0 0;
}

.formError .formErrorArrowBottom {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	margin: 0px 0 0 12px;
	top:2px;
}

.formError .formErrorArrow div {
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	box-shadow: 0 2px 3px #444;
	-moz-box-shadow: 0 2px 3px #444;
	-webkit-box-shadow: 0 2px 3px #444;
	-o-box-shadow: 0 2px 3px #444;
	font-size: 0px;
	height: 1px;
	background: #ee0101;
	margin: 0 auto;
	line-height: 0;
	font-size: 0;
	display: block;
}

.formError .formErrorArrowBottom div {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
}

.greenPopup .formErrorArrow div {
	background: #33be40;
}

.blackPopup .formErrorArrow div {
	background: #393939!important;
	color: #FFF;
}

.formError .formErrorArrow .line10 {
	width: 15px;
}

.formError .formErrorArrow .line9 {
	width: 13px;
}

.formError .formErrorArrow .line8 {
	width: 11px;
}

.formError .formErrorArrow .line7 {
	width: 9px;
}

.formError .formErrorArrow .line6 {
	width: 7px;
}

.formError .formErrorArrow .line5 {
	width: 5px;
}

.formError .formErrorArrow .line4 {
	width: 3px;
}

.formError .formErrorArrow .line3 {
	width: 1px;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-bottom: 0 solid #ddd;
}

.formError .formErrorArrow .line2 {
	width: 3px;
	border: none;
	background: #ddd!important;
}

.formError .formErrorArrow .line1 {
	width: 1px;
	border: none;
	background: #ddd!important;
}

.form_input .mce-panel iframe{
	width: 99.9999%!important;
}
@media only screen and (max-width: 767px) {
	.formError{
		left: 0!important;
	}
}





.dg-form-content.form-background.dark .form-control-wrap input[type=text],
.dg-form-content.form-background.dark .form-control-wrap input[type=email],
.dg-form-content.form-background.dark .form-control-wrap input[type=url],
.dg-form-content.form-background.dark .form-control-wrap input[type=tel],
.dg-form-content.form-background.dark .form-control-wrap input[type=number],
.dg-form-content.form-background.dark .form-control-wrap input[type=date],
.dg-form-content.form-background.dark .form-control-wrap select,
.dg-form-content.form-background.dark .form-control-wrap textarea,
.dg-form-content.form-background.dark .fixline:before {
	background-color:#f5f5f5;
    color: #424242;
	border-color:#f5f5f5;
 
}
.dg-form-content.form-background.dark,
.dg-form-content.form-background.dark span,
.dg-form-content.form-background.dark label.valid,
.dg-form-content.form-background.dark li:not(.from-footer) input,
.dg-form-content.form-background.dark select,
.dg-form-content.form-background.dark textarea {
	color: #424242;
}
.dg-form-content.form-background.dark label{
    color: #424242;
}

.dg-form-content.form-border.dark .form-control-wrap input[type=text],
.dg-form-content.form-border.dark .form-control-wrap input[type=email],
.dg-form-content.form-border.dark .form-control-wrap input[type=url],
.dg-form-content.form-border.dark .form-control-wrap input[type=tel],
.dg-form-content.form-border.dark .form-control-wrap input[type=number],
.dg-form-content.form-border.dark .form-control-wrap input[type=date],
.dg-form-content.form-border.dark .form-control-wrap select,
.dg-form-content.form-border.dark .form-control-wrap textarea,
.dg-form-content.form-border.dark .fixline:before {
	border-color:#d5d5d5
}

.dg-form-content.form-border.dark,
.dg-form-content.form-border.dark span,
.dg-form-content.form-border.dark label,
.dg-form-content.form-border.dark label.valid,
.dg-form-content.form-border.dark li:not(.from-footer) input,
.dg-form-content.form-border.dark select,
.dg-form-content.form-border.dark textarea {
	color:#666666;
}

.dg-form-content.form-line.dark .form-control-wrap input[type=text],
.dg-form-content.form-line.dark .form-control-wrap input[type=email],
.dg-form-content.form-line.dark .form-control-wrap input[type=url],
.dg-form-content.form-line.dark .form-control-wrap input[type=tel],
.dg-form-content.form-line.dark .form-control-wrap input[type=number],
.dg-form-content.form-line.dark .form-control-wrap input[type=date],
.dg-form-content.form-line.dark .form-control-wrap select,
.dg-form-content.form-line.dark .form-control-wrap textarea,
.dg-form-content.form-line.dark .fixline:before {
	border-bottom-color:#c8c8c8;
}
.dg-form-content.form-line.dark,
.dg-form-content.form-line.dark span,
.dg-form-content.form-line.dark label,
.dg-form-content.form-line.dark label.valid,
.dg-form-content.form-line.dark li:not(.from-footer) input,
.dg-form-content.form-line.dark select,
.dg-form-content.form-line.dark textarea {
	color:#666666;
}




.dg-form-content.form-background.light .form-control-wrap input[type=text],
.dg-form-content.form-background.light .form-control-wrap input[type=email],
.dg-form-content.form-background.light .form-control-wrap input[type=url],
.dg-form-content.form-background.light .form-control-wrap input[type=tel],
.dg-form-content.form-background.light .form-control-wrap input[type=number],
.dg-form-content.form-background.light .form-control-wrap input[type=date],
.dg-form-content.form-background.light .form-control-wrap select,
.dg-form-content.form-background.light .form-control-wrap textarea,
.dg-form-content.form-background.light .fixline:before {
	background-color:rgba(210, 210, 210, 0.1);
	color: #fff;
	border: 1px solid #c1c2c3;   
 }
.dg-form-content.form-background.light,
.dg-form-content.form-background.light span,
.dg-form-content.form-background.light label.valid,
.dg-form-content.form-background.light li:not(.from-footer) input,
.dg-form-content.form-background.light select,
.dg-form-content.form-background.light textarea {
	color: #fff;
}
.dg-form-content.form-background.light label{
	color: #fff;
}

.dg-form-content.form-border.light .form-control-wrap input[type=text],
.dg-form-content.form-border.light .form-control-wrap input[type=email],
.dg-form-content.form-border.light .form-control-wrap input[type=url],
.dg-form-content.form-border.light .form-control-wrap input[type=tel],
.dg-form-content.form-border.light .form-control-wrap input[type=number],
.dg-form-content.form-border.light .form-control-wrap input[type=date],
.dg-form-content.form-border.light .form-control-wrap select,
.dg-form-content.form-border.light .form-control-wrap textarea,
.dg-form-content.form-border.light .fixline:before {
	border-color:#ffffff
}

.dg-form-content.form-border.light,
.dg-form-content.form-border.light span,
.dg-form-content.form-border.light label,
.dg-form-content.form-border.light label.valid,
.dg-form-content.form-border.light li:not(.from-footer) input,
.dg-form-content.form-border.light select,
.dg-form-content.form-border.light textarea {
	color:#ffffff;
}

.dg-form-content.form-line.light .form-control-wrap input[type=text],
.dg-form-content.form-line.light .form-control-wrap input[type=email],
.dg-form-content.form-line.light .form-control-wrap input[type=url],
.dg-form-content.form-line.light .form-control-wrap input[type=tel],
.dg-form-content.form-line.light .form-control-wrap input[type=number],
.dg-form-content.form-line.light .form-control-wrap input[type=date],
.dg-form-content.form-line.light .form-control-wrap select,
.dg-form-content.form-line.light .form-control-wrap textarea,
.dg-form-content.form-line.light .fixline:before {
	border-bottom-color:#ffffff;
}
.dg-form-content.form-line.light,
.dg-form-content.form-line.light span,
.dg-form-content.form-line.light label,
.dg-form-content.form-line.light label.valid,
.dg-form-content.form-line.light li:not(.from-footer) input,
.dg-form-content.form-line.light select,
.dg-form-content.form-line.light textarea {
	color:#ffffff;
}


.dg-form-content.display-shadow .form-control-wrap input[type=text],
.dg-form-content.display-shadow .form-control-wrap input[type=email],
.dg-form-content.display-shadow .form-control-wrap input[type=url],
.dg-form-content.display-shadow .form-control-wrap input[type=tel],
.dg-form-content.display-shadow .form-control-wrap input[type=number],
.dg-form-content.display-shadow .form-control-wrap input[type=date],
.dg-form-content.display-shadow .form-control-wrap select,
.dg-form-content.display-shadow .form-control-wrap textarea{
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}




@keyframes loading-animation
{
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

@-moz-keyframes loading-animation /* Firefox */
{
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

@-webkit-keyframes loading-animation /* Safari and Chrome */
{
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

@-o-keyframes loading-animation /* Opera */
{
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}


.popup-form-main.form-loading .modal-main::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 11103;
	background: #ffffff;
	opacity: 0.8;
}
.popup-form-main.form-loading .modal-main::after{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 11104;
	margin-left: -10px;
	margin-top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #d0d0d0;
    border-top-color: #333333;
    border-left-color: #333333;
	-webkit-animation:loading-animation 0.8s ease-in-out 0s infinite normal; /* Safari and Chrome */
	animation:loading-animation 0.8s ease-in-out 0s infinite normal;
}
.PowerForms_ErrorMessage{
	background-color: #f2dede;
    color: #b94a48!important;
    border-left: 5px solid #c73412;
	padding: 5px 15px;
    margin: 15px 0;
    z-index: 100;
    text-align: left;
	display: inline-block;
}
.form-confirm + label {
    display: inline;
}


.image-recaptcha-box {
    display: inline-flex;
    align-items: center;
}
.image-recaptcha-box::before{
	content: none !important;
}
.image-recaptcha-box img {
    vertical-align: middle;
    cursor: pointer;
}

.image-recaptcha-box .recaptcha-image {
    margin-right: 8px;
    position: relative;
}

.image-recaptcha-box input {
    background-color: var(--form-FieldBgHoverColor);
    border: 1px solid var(--form-FieldBorderHoverColor);
    color: var(--form-FieldHoverColor);
    height: 40px !important;
    border-radius: 4px;
    width: 70px !important;
    padding: 0 10px !important;
    outline: none;
    box-shadow: none;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
    transition: all 200ms cubic-bezier(0, 0, 0.2, 1);
}
.image-recaptcha-box input:hover {
    background-color: var(--form-FieldBgHoverColor);
    border-color: var(--form-FieldBorderHoverColor);
    color: var(--form-FieldHoverColor);
}
.image-recaptcha-box input:focus {
    background-color: var(--form-FieldBgFocusColor);
    border-color: var(--form-FieldBorderFocusColor);
    color: var(--form-FieldFocusColor);
}


.image-recaptcha-box .sign {
    font-size: 26px;
    margin-right: 10px;
    line-height: 0;
    padding-bottom: 2px;
}

.image-recaptcha-box button {
    width: 40px;
    height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
    appearance: none;
    background: none;
    border: none;
    font-size: 18px !important;
    cursor: pointer;
}
.image-recaptcha-box button svg{
	width: 1em;
	height: 1em;
}
.image-recaptcha-box .recaptcha-image::after {
    content: "";
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M500 8h-27.711c-6.739 0-12.157 5.548-11.997 12.286l2.347 98.568C418.075 51.834 341.788 7.73 255.207 8.001 118.82 8.428 7.787 120.009 8 256.396 8.214 393.181 119.165 504 256 504c63.926 0 122.202-24.187 166.178-63.908 5.113-4.618 5.354-12.561.482-17.433l-19.738-19.738c-4.498-4.498-11.753-4.785-16.501-.552C351.787 433.246 306.105 452 256 452c-108.322 0-196-87.662-196-196 0-108.322 87.662-196 196-196 79.545 0 147.941 47.282 178.675 115.302l-126.389-3.009c-6.737-.16-12.286 5.257-12.286 11.997V212c0 6.627 5.373 12 12 12h192c6.627 0 12-5.373 12-12V20c0-6.627-5.373-12-12-12z" fill="%2333333" ></path></svg>');
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-size: 18px 18px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.8);
    pointer-events: none;
    opacity: 0;
    transition: all ease-in 150ms;
}

.image-recaptcha-box .recaptcha-image:not(.active):hover:after {
    opacity: 1;
}